<footer>
  <div class="container">
    <div class="row">
      <div class="three columns">
        <p class="h_footer">Godziny otwarcia<p>
            <ul>
              <li>poniedziałek - sobota <span>12.00 - 21.00</span></li>
              <li>środa <span>nieczynne</span></li>
              <li>niedziela <span>13.00 - 21.00</span></li>
            </ul>
      </div>
      <div class="three columns">
        <p class="h_footer">Nasz adres<p>
            <ul>
              <li>Bystrzyca Kłodzka</li>
              <li>ul. Sienkiewicza 2</li>
              <li>wejście od ulicy Sempołowskiej</li>
            </ul>
      </div>
      <div class="three columns">
        <p class="h_footer">Telefon<p>
            <ul>
              <li>Realizujemy zamówienia</li>
              <li>przez telefon</li>
              <li>{{base.phone}}</li>
            </ul>
      </div>
      <div class="three columns">
        <p class="h_footer">Restauracja EXpansja<p>
            <ul>
              <li><a href="rodo.html">Polityka prywatności</a></li>
              <li>Copyright 2019 &copy;</li>
              <li>Projekt strony <a href="https://github.com/mitelak">Mateusz Mitelski</a></li>
            </ul>
      </div>
    </div>
  </div>
</footer>
