<footer class="footer">
  <div class="container footer__sections">
    <div class="footer__section">
      <p class="footer__title">Godziny otwarcia</p>
      <ul class="footer__list">
        <li class="footer__hours">poniedziałek - piątek <span>12.00 - 21.00</span></li>
        <li class="footer__hours">sobota <span>13.00 - 21.00</span></li>
        <li class="footer__hours">sobota <span>13.00 - 21.00</span></li>
      </ul>
    </div>
    <div class="footer__section">
      <p class="footer__title">Nasz adres</p>
      <ul class="footer__list">
        <li>Bystrzyca Kłodzka</li>
        <li>ul. Sienkiewicza 2</li>
        <li>wejście od ulicy Sempołowskiej</li>
      </ul>
    </div>
    <div class="footer__section">
      <p class="footer__title">Telefon</p>
      <ul class="footer__list">
        <li>Realizujemy zamówienia</li>
        <li>przez telefon</li>
        <li>{{base.phone}}</li>
      </ul>
    </div>
    <div class="footer__section">
      <p class="footer__title">Restauracja EXpansja</p>
      <ul class="footer__list">
        <li><a href="rodo.html">Polityka prywatności</a></li>
        <li>Copyright 2021 &copy;</li>
        <li>Projekt strony <a href="https://github.com/mitelak">Mateusz Mitelski</a></li>
      </ul>
    </div>
  </div>
</footer>
