<head>
  <meta charset="utf-8">
  <title>EXpansja | {{title}}</title>
  <meta name="description" content="Restauracja EXpansja w Bystrzycy Kłodzkiej. Tel. {{base.phone}}, dania z grilla, danie z ryby, znakomita pizza, sałatki ze świeżych warzyw.">
  <meta name="author" content="mitelski.pl">

  <meta name="viewport" content="width=device-width, initial-scale=1">

  {{!-- <link rel="stylesheet" href="static/css/first.min.css"> --}}
  <link rel="stylesheet" href="static/css/index.css">

  {{!-- {{#if useFancybox}} --}}
    {{!-- <link rel="stylesheet" href="static/css/jquery.fancybox.min.css"> --}}
  {{!-- {{/if}} --}}

  <link rel="icon" type="image/png" href="static/images/favicon.png">
  <meta name="theme-color" content="#ff0000">
</head>
