body{
    background: #0a0a0a;
    font-family: "Times New Roman", sans-serif;
}
/*================
=====!HEADER!=====
==================*/
#logo{
    color: #fafafa;
    text-align: center;
}
#logo>h1{
    font-size: 3.6rem;
    padding-top: 5.0rem;
}
#logo h1 span{
    color: #ff0000;
}
#logo>h2{
    font-size: 1.8rem;
	letter-spacing: 0.01rem;
}
/*========================
=====!NAWIGACJA_MENU!=====
==========================*/

@media (min-width: 661px){
nav{
    min-width: 100%;
    position: relative;
    height: 34px;
}
nav ul {
    list-style: none;
    padding: 0;
    margin: 0;
    display: block;
    position: absolute;
    z-index: 2;
    width: 426px;
    left:0; right:0; margin:auto;
}
nav li{
    display: inline-block;
    background: #0a0a0a;
    width: 80px;
    text-align: center;
    height: 30px;
    font-size: 0.5rem;
    font-weight: 400;
    line-height: 32px;
    border: 1px solid #ff0000;
    margin-left: 15px;
    margin-bottom: 15px;
    border-radius: 1px;
}
nav a{
    text-decoration: none;
    color: #fafafa;
    display: block;
	-webkit-transition: background-color 0.5s ease-out;
    -moz-transition: background-color 0.5s ease-out;
    -o-transition: background-color 0.5s ease-out;
    transition: background-color 0.5s ease-out;
    letter-spacing: 0.5px;
    text-transform: uppercase;
    font-size: 1.1rem;
}
nav a.active{
    background-color: rgb(255, 0, 0);
    color: #fafafa;
	 animation: aktywne 1s;
    -moz-animation: aktywne 1s; /* Firefox */
    -webkit-animation: aktywne 1s; /* Safari and Chrome */
    -o-animation: aktywne 1s; /* Opera */
}
@keyframes aktywne{
	from {
        background: rgba(255, 0, 0, 0.7);}to {
        background: rgb(255, 0, 0);}
}
@-moz-keyframes aktywne { /* Firefox */
    from {
      background: rgba(255, 0, 0, 0.7);}to {
        background: rgb(255, 0, 0);}
}
@-webkit-keyframes aktywne { /* Safari and Chrome */
    from {
        background: rgba(255, 0, 0, 0.7);}to {
        background: rgb(255, 0, 0);}
}
@-o-keyframes aktywne { /* Opera */
    from {
        background: rgba(255, 0, 0, 0.7);}to {
        background: rgb(255, 0, 0);}
}
nav a:hover{
	background-color: rgb(255, 0, 0);
	-webkit-transition: background-color 0.5s ease-out;
    -moz-transition: background-color 0.5s ease-out;
    -o-transition: background-color 0.5s ease-out;
    transition: background-color 0.5s ease-out;
	}
}
.redline{
    background: #ff0000;
    min-width: 100%;
    height: 1px;
    position: relative;
    top: 18px;
}

/*================
=====!SLIDER!=====
==================*/
.slider{
    margin-top: -15px;
    width: 100%;
    height: 200px;
    background-size: cover;
    background-position: center;
    border-bottom: 1px solid #ff0000;
}
.slider p{

    font-size: 3.6rem;
    color: #fafafa;
    text-align: center;
    padding-top: 80px;
    text-shadow: 0.5px 1.5px 1px rgba(0,0,0,0.7);
}
p span{
    color: #ff0000;
}
.smenu{
    background: url('../images/chili.jpg');
    background-size: cover;
    background-position: center;
}
.sonas{
    background: url('../images/kuchnia.jpg');
    background-size: cover;
    background-position: 50% 70%;
}
.sgaleria{
    background: url('../images/garlic.jpg');
    background-size: cover;
    background-position: 50%  15%;
}
.skontakt{
    background: url('../images/kawa.jpg');
    background-size: cover;
    background-position: 50%  50%;
}
/*=================
=====!CONTENT!=====
==================*/
h3{
    font-size: 2.4rem;
    text-align: center;
    background: rgba(255, 52, 52, 0);
	padding-top: 3.0rem;
	padding-bottom: 3.0rem;
    border-radius: 0px 0px 1px 1px;
    letter-spacing: 1px;
}
h3 span{
    color: #ff0000;
}

h4{
    font-size: 2.4rem;
    font-weight: 700;
    color: #ff0000;
}
/*=================
=======!MENU!======
==================*/
/*=================
====!KATEGORIE!====
==================*/
.menu a{
    display: block;
    color: #fafafa;
    text-decoration: none;
    padding-left: 10%;
    margin-bottom: 10px;
    line-height: 50px;
    border-radius: 2px;
	-webkit-transition: background-color 1s ease-out;
    -moz-transition: background-color 1s ease-out;
    -o-transition: background-color 1s ease-out;
    transition: background-color 1s ease-out;
}
.menu div{
    background-color: #212121;
    background-size: 100%;
    background-position: center;
    border-radius: 2px;
}
#kat1{
    background-image: url(../images/kategorie/beef.jpg);
    background-size: 200%;
}
#kat2{
    background-image: url(../images/kategorie/fish.jpg);
    background-size: 110%;
}
#kat3{
    background-image: url(../images/kategorie/spaghetti.jpg);
}
#kat4{
    background-image: url(../images/kategorie/pizza.jpg);
}
#kat5{
    background-image: url(../images/kategorie/rigatoni.jpg);
    background-position: 80% 70%;
}
#kat6{
    background-image: url(../images/kategorie/risotto.jpg);
}
#kat7{
    background-image: url(../images/kategorie/salad.jpg);
    background-position: 60% 70%;
}
#kat8{
    background-image: url(../images/kategorie/napoje.jpg);
    background-position: 10% 60%;
}
#kat9{
    background-image: url(../images/kategorie/deser.jpg);
}
.menu a:hover{
    background: rgba(191, 13, 13, 0.1);
}
.menu a.active {
    background: rgba(191, 13, 13, 0.6);
    animation: fadein 2s;
    -moz-animation: fadein 2s; /* Firefox */
    -webkit-animation: fadein 2s; /* Safari and Chrome */
    -o-animation: fadein 2s; /* Opera */
}
@keyframes fadein{
	from {
        background: rgba(191, 13, 13, 0.1);}to {
        background: rgba(191, 13, 13, 0.6);}
}
@-moz-keyframes fadein { /* Firefox */
    from {
       background: rgba(191, 13, 13, 0.1);}to {
       background: rgba(191, 13, 13, 0.6);}
}
@-webkit-keyframes fadein { /* Safari and Chrome */
    from {
       background: rgba(191, 13, 13, 0.1);}to {
       background: rgba(191, 13, 13, 0.6);}
}
@-o-keyframes fadein { /* Opera */
    from {
       background: rgba(191, 13, 13, 0.1);}to {
       background: rgba(191, 13, 13, 0.6);}
}

/*=====================
=====!TABELA_MENU!=====
======================*/

table {
    margin-top: -10px;
    border-collapse: separate;
    border-spacing: 0 10px;
    width: 100%;
    animation: menuFadeIn 0.4s both;
}
tr{
    height: 50px;
    background: #0a0a0a;
}
td {
    border: none;
}
td:first-child {
    border-radius: 2px 0px 0px 2px;
}
td:last-child {
    border-radius: 0px 2px 2px 0px;
}
td:nth-child(1){
    font-size: 1.6rem;
    padding-left: 10px;
    font-weight: 300;
}
td:nth-child(2){
    text-transform: uppercase;
    font-size: 1.6rem;
    font-weight: 400;
    color: red;
    width: 20%;
	line-height: 1.6rem;
}
td:nth-child(3){
    font-size: 1.2rem;
    color: #c5c5c5;
    letter-spacing: 0.5px;
}
td:nth-child(4){
    font-weight: 400;
    font-size: 1.6rem;
    color: #ff0000;
    width: 10%;
	line-height: 2.4rem;
}

tr:nth-child(odd){
    background: #030303;
}

/**/


table#desery tr td, table#napoje tr td{
	width: 100%;
    position: relative;
}

table#desery tr td img, table#napoje tr td img {
	width: 100%;
}
table#desery tr td p, table#desery tr td img{
	padding: 5px;
}
table#napoje tr td p{
	line-height: none;
	padding: 5px;
}
td > div{
    position: absolute;
    z-index: 2;
    font-size: 1.5em;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
    text-align: center;
	display: block;
	width: 100%;
	height: 100%;
}
td > div > p{
    position: relative;
	top: 50%;
    transform: translate(0, -50%);
    transition: all .3s ease-in-out;
}
@media (max-width:650px){
td > div > p{
	font-size: 0.8em;
}
}
table#desery tr td img, table#napoje tr td img {
	width: 100%;
    opacity: 0.1;
    transition: opacity 0.5s;
}

#napoje td:hover p, #desery td:hover p{
  opacity: 0;
}
#napoje td:hover img, #desery td:hover img{
  opacity: 1;
}
/*========================
=====!ZADZWON_BUTTON!=====
=========================*/

a.tel{
    float: right;
    color: #fff;
    text-decoration: none;
    font-size: 1.6rem;
    text-transform: uppercase;
    line-height: 24px;
}
#tel{
    background: url('../images/phone322.png');
    height: 24px;
    width: 24px;
    background-size: cover;
    float: left;
    margin-right: 5px;
}
a.tel{
    background: #ff0000;
    padding: 7px;
    border-radius: 2px;
	transition: background 1s ease-out;

}
a.tel:hover{
background: #dd0000;
}

a.kont{
	margin-top: 10px;
}

/*=================
=====!GALERIA!=====
==================*/
.galeria{
  display: flex;
  flex-wrap: wrap;
  margin: 0 auto;
}
.galeria a{
  display: block;
  height: 200px;
  width: 30%;
  margin: 5px;
  position: relative;
  text-decoration: none;
  line-height: 0;
  overflow: hidden;
}
.galeria img{
  height: 120%;
  transition: border 0.3s ease-out;
  /*border: 1px solid white;*/
  border: none;
  position: absolute;
  z-index: -1;
  transition: all 0.3s ease-in-out;
}
.galeria a:after{
    content: "";
    display: block;
    width: 100%;
    height: 100%;
    box-shadow:inset 0px 0px 0px 0px rgba(255, 0, 0, 0.7);
    top: 0;
    left: 0;
    transition: all 0.3s ease-in-out;
}
.galeria a:hover:after{
    box-shadow:inset 0px 0px 50px 100px rgba(255, 0, 0, 0.3);
}
.galeria a:hover img{
    transform: scale(1.1) rotate(2deg);
}

@media (max-width: 677px) {
    .galeria{
      justify-content: center;
    }
    .galeria a{
        height: 250px;
        width: 100%;
        flex-direction: column;
    }
    .galeria img{
        height: auto;
        width: 100%;
    }
}

/*=================
=====!INDEX!=====
==================*/
#front{
	background: url('../images/front.jpg') no-repeat;
    background-size: cover;
	width: 100%;
	height: 350px;
	background-position: 10% 50%;
	/*border: 1px solid #fff;*/
	border: none;
	border-radius: 3px;
}
.onas p{
	font-size: 1.5rem;
	line-height: 1.9rem;
	margin-bottom: 1rem;
}
.onas p:first-child{
	margin-top: 20px;
}
.onas p:first-letter{
	font-size: 2.0rem;
}
/*=================
=====!KONTAKT!=====
==================*/
iframe#map{
	border: 10px solid #fff;

}
.kontakt h5{
	font-size: 2.4rem;
	font-weight: 400;
	margin: 0;
	margin-top: 20px;
}
.kontakt h5:first-child{
	margin: 0;
}
.kontakt ul{
	margin: 0;
}
.kontakt ul li{
	font-size: 1.5rem;
	margin-left: -16px;
	line-height: 1.8rem;
	list-style: none;
}
.kontakt span{
	color: #ff0000;
}
#map{
  width: 100%;
  height: 380px;
}

.contact-hours-list li {
    display: flex;
    justify-content: space-between;
    max-width: 270px;
}

.kontakt .contact-hours-list span {
    color: #fff;
    float: right;
}
/*=================
=====!STOPKA!======
==================*/
footer{
    margin-top: 50px;
    background: #080808;
    width: 100%;
	border-top: 1px solid red;
}
footer p.h_footer{
    font-size: 1.4rem;
    color: #999999;
    line-height: 0;
    padding-top: 30px;
    margin-bottom: 5px;
}
footer ul,footer ul li{
    list-style: none;
    color: #bcbcbc;
    padding: 0;
    margin-top: 0;
    font-size: 1.2rem;
	letter-spacing: 0.5px;
}
footer ul li span{
    float: right;
}
footer a{
    color:#cecece;
    text-decoration: none;
	transition: color 1s;
}
footer a:hover{
    color:#ff0000;
}

#alert{
	height: 4rem;
	background: red;
	position: relative;
}
#alert p{
	text-align: center;
	font-size: 1.6rem;
	line-height: 4rem;
}

.close {
 	width: 24px;
 	height: 24px;
 	background-image: url('data:image/png;base64,iVBORw0KGgoAAAANSUhEUgAAABgAAAAYCAYAAADgdz34AAABDElEQVRIS52W6w3CMAyEzxPABqzACLABTAobwAgdATaACYICcdWksXOmfyq16X3x4+IKypVS2gO4ADiLyKTPI/eehmSB8uIGYAvgBeAYhVga0rzQDYcgrkZK6QFg10kFBTHEVe6pEdwBbKKQgfgbwGFZgxCEEheZvoBFoSkIK551ZwALKfvRjmuz+kvLos0rAAnJy3I7D8VXEZDp6nlvtXNdtIrgD4gpbkYQgLjiLMAqaP5+aMZRijxx6ljpAgZ93iuyGYnVpl6fZwB9rPSM5pqobJ9yfFXkiP3LWgrSGziUQ1mINXAU4vY5BXEGztBExNllDhxKfOB4c+CExA3IrNEOnCuAU/SPooFUGh8IXeCHUjR/2gAAAABJRU5ErkJggg==');
   position: absolute;
   right: 2rem;
   top: 0.8rem;
   transition: all 1s;
}
.close:hover{
	transform: rotate(90deg);
	cursor: pointer;
}


/* SLIMMENU */

@media (max-width:660px)
{
.menu-collapser {
    position: relative;
    background-color: #ff0000;
    color: #FFF;
    text-shadow: 0 1px 0 rgba(0,0,0,0.5);
    width: 100%;
    height: 48px;
    line-height: 48px;
    font-size: 1.6rem;
    padding: 0 8px;
    box-sizing: border-box;
    -moz-box-sizing: border-box;
    -webkit-box-sizing: border-box
}
.collapse-button {
    position: absolute;
    right: 8px;
    top: 50%;
    width: 40px;
    background-color: #0a0a0a;
    border-color: rgba(0, 0, 0, 0.1) rgba(0, 0, 0, 0.1) rgba(0, 0, 0, 0.25);
    border-radius: 4px 4px 4px 4px;
    border-style: solid;
    border-width: 1px;
    color: #FFFFFF;
    box-shadow: 0 1px 0 rgba(255, 255, 255, 0.1) inset, 0 1px 0 rgba(255, 255, 255, 0.075);
    padding: 7px 10px;
    text-shadow: 0 -1px 0 rgba(0, 0, 0, 0.25);
    cursor: pointer;
    font-size: 14px;
    text-align: center;

    transform: translate(0, -50%);
    -o-transform: translate(0, -50%);
    -ms-transform: translate(0, -50%);
    -moz-transform: translate(0, -50%);
    -webkit-transform: translate(0, -50%);

    box-sizing: border-box;
    -moz-box-sizing: border-box;
    -webkit-box-sizing: border-box
}
.collapse-button:hover, .collapse-button:focus {
    background-image: none;
    background-color: #0a0a0a;
    color: #FFF;
}
.collapse-button .icon-bar {
    background-color: #F5F5F5;
    border-radius: 1px 1px 1px 1px;
    box-shadow: 0 1px 0 rgba(0, 0, 0, 0.25);
    display: block;
    height: 2px;
    width: 18px;
    margin: 2px 0;
}

ul.slimmenu {
    list-style-type: none;
    margin: 0;
    padding: 0;
    width: 100%;
}
ul.slimmenu li {
    position: relative;
    display: inline-block;
    background-color: #0a0a0a;
}
ul.slimmenu > li { margin-right: -5px;}
ul.slimmenu > li:last-child { margin-right: 0 }
ul.slimmenu li a {
    display: block;
    color: #fff;
    padding: 12px 64px 12px 16px;
    font-family: 'Times New Roman', sans-serif;
    font-size: 16px;
    text-align: center;
    text-shadow: 0 1px 2px rgba(0,0,0,0.5);
    transition: background-color 0.5s ease-out;
    -o-transition: background-color 0.5s ease-out;
    -moz-transition: background-color 0.5s ease-out;
    -webkit-transition: background-color 0.5s ease-out;
    text-decoration: none;
}
ul.slimmenu li a:hover {
    background-color: #2e2e2e;

}
ul.slimmenu li .sub-collapser {
    background: none repeat scroll 0 0 rgba(0, 0, 0, 0.075);
    position: absolute;
    right: 0;
    top: 0;
    width: 48px;
    height: 100%;
    text-align: center;
    z-index: 999;
    cursor: pointer;
}
ul.slimmenu li .sub-collapser:before {
    content: '';
    display: inline-block;
    height: 100%;
    vertical-align: middle;
    margin-right: -0.25em;
}
ul.slimmenu li .sub-collapser > i {
    color: #333;
    font-size: 18px;
    display: inline-block;
    vertical-align: middle;
}
ul.slimmenu li ul {
    margin: 0;
    list-style-type: none;
}
ul.slimmenu li ul li { background-color: #BBB }
ul.slimmenu li > ul {
    display: none;
    position: absolute;
    left: 0;
    top: 100%;
    z-index: 999;
    width: 100%;
}
ul.slimmenu li > ul > li ul {
    display: none;
    position: absolute;
    left: 100%;
    top: 0;
    z-index: 999;
    width: 100%;
}

ul.slimmenu.collapsed li {
    display: block;
    width: 100%;

    box-sizing: border-box;
    -moz-box-sizing: border-box;
    -webkit-box-sizing: border-box
}
ul.slimmenu.collapsed li a {
    display: block;
    border-bottom: 1px solid #1c1c1c;

    box-sizing: border-box;
    -moz-box-sizing: border-box;
    -webkit-box-sizing: border-box
}
ul.slimmenu.collapsed li:last-child {
    border-bottom: 1px solid #f00;
}
ul.slimmenu.collapsed li .sub-collapser {
    height: 40px;
}
ul.slimmenu.collapsed li > ul {
    display: none;
    position: ..;
}
}

.menu-header {
    display: flex;
    justify-content: space-between;
    align-items: baseline;
}
.menu-header a {
    color: #bbb;
    font-size: 14px;
}

.info {
    background: red;
    padding: 20px 0;
    color: #000;
    text-align: center;
}

@keyframes menuFadeIn {
    0% {
        opacity: 0;
    }
    100% {
        opacity: 1;
    }
}
