---
title: Polityka prywatności
layout: layout.hbs
permalink: /rodo.html
hero:
  text: <span>Cały rok</span> dla naszych <span>gości...</span>
  img: kuchnia.jpg
  position: 50% 70%
header: KLAUZULA INFORMACYJNA
---
<div class="about">
  <p>Administratorem Państwa danych osobowych, przy zamówieniach telefonicznych, jest restauracja, w
    której dokonują Państwo zamówienia.
    Pełne dane podmiotu znajdują się na paragonie zakupu.</p>
  <p>Dane przetwarzane są na podstawie art. 6 ust. 1 lit. a, b i f ogólnego rozporządzenia o ochronie
    danych osobowych z 27 kwietnia 2016r.,
    dalej RODO w celach wykonania umowy, marketingowych, kontaktu z klientem przez administratora oraz
    podmioty zaufane administratora,
    realizacji uzasadnionego interesu administratora danych.
  </p>
  <p>Administrator nie przekazuje danych do państwa trzeciego/organizacji międzynarodowej.
    Odbiorcą danych mogą być podmioty przetwarzające dane na zlecenie administratora danych, w tym
    podmioty zaufane administratora,
    agencje marketingowe oraz podmioty uprawnione do uzyskania danych na podstawie obowiązującego prawa.
  </p>
  <p>Dane osobowe będą przechowywane w czasie niezbędnym do zrealizowania celu.
    Restauracja nie może wymagać innych danych aniżeli nazwisko, adres dostawy i telefon kontaktowy,
    celem realizacji danego zamówienia.
    Osobie, której dane dotyczą przysługuje prawo dostępu do swoich danych, uzyskania ich kopii, ich
    poprawiania, sprostowania, usunięcia,
    ograniczenia przetwarzania, przeniesienia oraz wniesienia skargi do organu nadzorczego.</p>
  <p>Ma Pan/Pani prawo wniesienia skargi do organu nadzorczego z zakresu danych osobowych, gdy uzna
    Pani/Pan,
    iż przetwarzanie danych osobowych Pani/Pana dotyczących narusza przepisy RODO – organem nadzorczym
    jest Prezes Urzędu Ochrony Danych Osobowych.
    Dane nie będą podlegać zautomatyzowanemu przetwarzaniu, w tym profilowaniu.
    Podanie danych jest dobrowolne, ale niezbędne do realizacji wskazanych wyżej celów.</p>
</div>
