---
title: O nas
layout: layout.hbs
permalink: /
hero:
  text: <span>Cały rok</span> dla naszych <span>gości...</span>
  img: kuchnia.jpg
  position: 50% 70%
header: DOWIEDZ SIĘ <span>O NAS</span> WIĘCEJ
---
<div class="about">
  <p>
    <span>Drogi Gościu,</span><br>
    witaj w Restauracji EXpansja<br>
    - u nas o smaku potraw decydują:<br>
    jakość użytych potraw i przemyślane ich połączenie...
  </p>
  <p>
    <span>Jesteśmy</span> na rynku <span>od 2001 roku</span>.
  </p>
  <p>
    <span>Od pierwszego dnia</span> zasadą naszego działania jest ciężka praca. <span>Nie szczędzimy sił</span> na
    to, by dania wykonać od podstaw, wykorzystując produkty świeże i smaczne. </p>
  <p>Nie jest proste w czasach, gdy pośpiech i przetworzona żywność triumfuje, pozostać w przestrzeni gotowania pod
    konkretne zamówienie, <span>by zachować reguły kuchmistrzostwa</span>.</p>
  <p>Jako restauracja przygotowaliśmy dla Państwa miejsce, gdzie mogą Państwo spotkać się w gronie znajomych,
    rodziny, przyjaciół, <span>by w spokoju zjeść coś dobrego</span> i mile spędzić czas. </p>
</div>
