---
title: Menu
layout: layout.hbs
permalink: /menu.html
useMenuScript: true
hero:
text: <span>Ty</span> decydujesz - <span>My</span> wykonujemy
img: chili.jpg
position: center
header: ZAPRASZAMY DO <span>OSTREGO</span> WYBORU
---

<div class="row">
  <div class="three columns">
    <h4>Kategorie</h4>
    <div class="menu">
      <div id="kat1"><a href="#dania_miesne" class="active">Dania mięsne</a></div>
      <div id="kat2"><a href="#dania_rybne">Dania specjalne i z ryb</a></div>
      <div id="kat3"><a href="#spaghetti">Spaghetti</a></div>
      <div id="kat4"><a href="#pizza">Pizza</a></div>
      <div id="kat5"><a href="#rigatoni">Rigatoni</a></div>
      <div id="kat6"><a href="#risotto">Risotto</a></div>
      <div id="kat7"><a href="#salatki">Sałatki</a></div>
      <div id="kat8"><a href="#napoje">Napoje</a></div>
      <div id="kat9"><a href="#desery">Desery - Koktajle</a></div>
    </div>
  </div>
  <div class="nine columns">
    <div class="menu-header">
      <h4>Menu</h4>
      <a href="static/images/alergeny.png">Informacja o alergenach</a>
    </div>
    <!-- <p>Jesteśmy w trakcie aktualizacji menu. Za utrudnienia przepraszamy.</p> -->
    <table id="dania_miesne">
      <tr>
        <td>45.</td>
        <td>Zestaw Sano</td>
        <td>grillowana pierś z kurczaka, zapiekane ziemniaki, tzatziki, żurawina, sałatka mała (pomidor,
          ogórek, cebulka, czosnek, sos bianes, oregano)</td>
        <td>30 zł</td>
      </tr>
      <tr>
        <td>46.</td>
        <td>Zestaw ricco</td>
        <td>grillowany schab, zapiekane ziemniaki, tzatziki, żurawina, sałatka mała (pomidor, ogórek,
          cebulka, czosnek, sos bianes, oregano)</td>
        <td>31 zł</td>
      </tr>
      <tr>
        <td>47.</td>
        <td>Zestaw etna</td>
        <td>grillowana pierś z kurczaka i grillowany schab, zapiekane ziemniaki, tzatziki, żurawina, sałatka
          mała (pomidor, ogórek, cebulka, czosnek, sos bianes, oregano)</td>
        <td>41 zł</td>
      </tr>
      <tr>
        <td>48.</td>
        <td>Danie Vin-sa</td>
        <td>grillowana, zapiekana w białym winie pierś z kurczaka, chrupiąca bagietka, sałatka mała
          (pomidor, ogórek, cebulka, czosnek, sos bianes, oregano)</td>
        <td>29 zł</td>
      </tr>
      <tr>
        <td>50.</td>
        <td>Szaszłyk</td>
        <td>z ryżem lub ziemniakami zapiekanymi do wyboru, sałatka mała (pomidor, ogórek, cebulka, czosnek,
          sos winegret)</td>
        <td>28 zł</td>
      </tr>
      <tr>
        <td>51.</td>
        <td>Zestaw collina</td>
        <td>grillowany schab skropiony czerwonym winem, ser, ananas, ziemniaki zapiekane, sałatka mała</td>
        <td>31 zł</td>
      </tr>
    </table>
    <table id="dania_rybne">
      <tr>
        <td>44.</td>
        <td>STROGONOW</td>
        <td>polędwica (mięso krojone w paski), pieczarki, ogórek konserwowy, papryka, śmietana, (podawane z
          ryżem lub ziemniakami zapiekanymi do wyboru), sałatka mała(pomidor, ogórek, czosnek, sos
          winegret)</td>
        <td>32 zł</td>
      </tr>
      <tr>
        <td>60.</td>
        <td>LECZO</td>
        <td>gorące danie: cebula, pieczarki, papryka, kiełbasa, sos pomidorowy, czosnek, aromatyczne zioła,
          chrupiąca bagietka</td>
        <td>21 zł</td>
      </tr>
      <tr>
        <td>55.</td>
        <td>ZESTAW PESCE</td>
        <td>pstrąg, ryż lub ziemniaki zapiekane do wyboru, sałatka z ogórków kiszonych z cebulką i czosnkiem
        </td>
        <td>30 zł</td>
      </tr>
    </table>
    <table id="spaghetti">
      <tr>
        <td>31.</td>
        <td>SPAGHETTI VEGETARIANA</td>
        <td>cebula, pomidor, pieczarki, sos pomidorowy, czosnek, zioła</td>
        <td>23 zł</td>
      </tr>
      <tr>
        <td>32.</td>
        <td>SPAGHETTI BOLOGNESE </td>
        <td>sos pomidorowo-mięsny, sos biały, czosnek, zioła</td>
        <td>26 zł</td>
      </tr>
      <tr>
        <td>33.</td>
        <td>SPAGHETTI CARBONARA</td>
        <td>boczek, cebula, sos biały, żółtko, czosnek, zioła</td>
        <td>26 zł</td>
      </tr>
      <tr>
        <td>39.</td>
        <td>SPAGHETTI AL TONNO</td>
        <td>tuńczyk, cebula, sos biały, czosnek, zioła </td>
        <td>26 zł</td>
      </tr>
      <tr>
        <td>34.</td>
        <td>BROCOLLI AL FORNO</td>
        <td>(BROKUŁY z PIECA BEZ MAKARONU) brokuły, sos biały, ser mozzarella, czosnek, zioła</td>
        <td>23 zł</td>
      </tr>
      <tr>
        <td>35.</td>
        <td>SPAGHETTI MATRICIANA</td>
        <td>pieczarki, szynka, sos biały, sos pomidorowy, czosnek, zioł</td>
        <td>25 zł</td>
      </tr>
      <tr>
        <td>61.</td>
        <td>SPAGHETTI PRIDE</td>
        <td>polędwica (mięso krojone w paski) cebula, fasola czerwona, sos pomidorowy, śmietana, sos ostry,
          zioła </td>
        <td>29 zł</td>
      </tr>
    </table>
    <table id="pizza">
      <tr>
        <td>1.</td>
        <td>MARGHARITA</td>
        <td>sos pomidorowy, ser, pomidor, czosnek</td>
        <td>17 zł</td>
      </tr>
      <tr>
        <td>2.</td>
        <td>FUNGHI</td>
        <td>sos pomidorowy, ser, pieczarki, czosnek </td>
        <td>17 zł</td>
      </tr>
      <tr>
        <td>3.</td>
        <td>SALAMI</td>
        <td>sos pomidorowy, ser, salami, czosnek</td>
        <td>19 zł</td>
      </tr>
      <tr>
        <td>4.</td>
        <td>PROSCIUTTO</td>
        <td>sos pomidorowy, ser, szynka, czosnek </td>
        <td>19 zł</td>
      </tr>
      <tr>
        <td>5.</td>
        <td>VEGETARIANA</td>
        <td>sos pomidorowy, ser, pieczarki, cebula, papryka </td>
        <td>19 zł</td>
      </tr>
      <tr>
        <td>6.</td>
        <td>HAWAII</td>
        <td>sos pomidorowy, ser, szynka, pieczarki, ananas, czosnek </td>
        <td>20 zł</td>
      </tr>
      <tr>
        <td>7.</td>
        <td>CAPRICIOSA</td>
        <td>sos pomidorowy, ser, szynka, pieczarki, czosnek </td>
        <td>20 zł</td>
      </tr>
      <tr>
        <td>8.</td>
        <td>AL CAPONE</td>
        <td>sos pomidorowy, ser, szynka, pieczarki, cebula, czosnek </td>
        <td>20 zł</td>
      </tr>
      <tr>
        <td>9.</td>
        <td>BONANO</td>
        <td>sos pomidorowy, ser, pomidor, cebula, peperoni, czosnek </td>
        <td>19 zł</td>
      </tr>
      <tr>
        <td>10.</td>
        <td>PANCETTA</td>
        <td>sos pomidorowy, ser, jajko, cebula, boczek, czosnek</td>
        <td>21 zł</td>
      </tr>
      <tr>
        <td>11.</td>
        <td>PESCATORE</td>
        <td>sos pomidorowy, ser, cebula, tuńczyk, ananas, czosnek </td>
        <td>22 zł</td>
      </tr>
      <tr>
        <td>12.</td>
        <td>TOMASSO</td>
        <td>sos pomidorowy, ser, czosnek, cebula, sos boloński, krewetki</td>
        <td>27 zł</td>
      </tr>
      <tr>
        <td>13.</td>
        <td>CARAMBA</td>
        <td>sos pomidorowy, ser, cebula, boczek, peperoni, czosnek </td>
        <td>21 zł</td>
      </tr>
      <tr>
        <td>14.</td>
        <td>MAMMA MIA</td>
        <td>sos pomidorowy, ser, szynka, pieczarki, cebula, papryka </td>
        <td>22 zł</td>
      </tr>
      <tr>
        <td>15.</td>
        <td>ANTONELLA</td>
        <td>sos pomidorowy, ser, szynka, ananas, papryka, pieczarki </td>
        <td>22 zł</td>
      </tr>
      <tr>
        <td>16.</td>
        <td>MARCO POLO</td>
        <td>sos pomidorowy, ser, jajko, pieczarki, szynka, peperoni</td>
        <td>24 zł</td>
      </tr>
      <tr>
        <td>17.</td>
        <td>RAGAZZA</td>
        <td>sos pomidorowy, ser, pieczarki, cebula, polędwica drobiowa, sos bianes, kapary, czosnek</td>
        <td>24 zł</td>
      </tr>
      <tr>
        <td>18.</td>
        <td>CONTADINA</td>
        <td>sos pomidorowy, ser, cebula, pieczarki, jajko, boczek, peperoni, czosnek</td>
        <td>24 zł</td>
      </tr>
      <tr>
        <td>19.</td>
        <td>EXpansja</td>
        <td>sos pomidorowy, ser, cebula, czosnek, boczek, sos boloński </td>
        <td>25 zł</td>
      </tr>
      <tr>
        <td>20.</td>
        <td>CARLOS</td>
        <td>sos pomidorowy, ser, pieczarki, szynka, salami, peperoni </td>
        <td>25 zł</td>
      </tr>
      <tr>
        <td>21.</td>
        <td>PIECZYWKO</td>
        <td>WYRÓB WŁASNY</td>
        <td>15 zł</td>
      </tr>
      <tr>
        <td>22.</td>
        <td>OWOCOWA FANTAZJA - SZEFA KUCHNI</td>
        <td>owoce z polewą czekoladową</td>
        <td>22 zł</td>
      </tr>
      <tr>
        <td>23.</td>
        <td>NEO</td>
        <td>sos pomidorowy, ser, oliwki czarne, oliwki zielone, feta, brokuły </td>
        <td>24 zł</td>
      </tr>
      <tr>
        <td>24.</td>
        <td>SALSICCIA</td>
        <td>sos pomidorowy, ser, pieczarki, cebula, kiełbasa, czosnek</td>
        <td>25 zł</td>
      </tr>
      <tr>
        <td>70.</td>
        <td>ORO</td>
        <td>sos pomidorowy, ser, kukurydza, ser feta, czosnek </td>
        <td>22 zł</td>
      </tr>
      <tr>
        <td>71.</td>
        <td>CON FAGIOLI</td>
        <td> sos pomidorowy, ser, cebula, papryka peperoni, sos boloński, boczek, kukurydza, fasola, czosnek
        </td>
        <td>26 zł</td>
      </tr>
      <tr>
        <td>80.</td>
        <td>TWOJA PIZZA</td>
        <td>za ciasto z delikatnym sosem pomidorowym i serem mozzarellą płacisz 13z, a za każdy dodatek 3zł.
          Zatem do dzieła! Komponuj pizzę jaką lubisz!</td>
        <td>15 zł + 3/4 zł</td>
      </tr>
      <tr>
        <td></td>
        <td>DODATKI</td>
        <td>salami, szynka, boczek, polędwica, tuńczyk, sos boloński, kiełbasa, - 4zł,
          ser, pomidor, cebula, kukurydza, pieczarki, ananas, jajko, kapary, oliwki czarne/ zielone, feta, brokuły,
          papryka łagodna/ostra, fasola - 3zł,
          kurczak, krewetki - 7zł</td>
        <td>3 zł</td>
      </tr>
      <tr>
        <td></td>
        <td>SOSY</td>
        <td>KETCHUP HEINZ<br>SOS BIANES<br>SOS CZOSNKOWY<br>SOS POMIDOROWY DO PIZZY<br>SOS OSTRY<br>TZATZIKI
        </td>
        <td>4 zł</td>
      </tr>
    </table>
    <table id="rigatoni">
      <tr>
        <td>36.</td>
        <td>RIGATONI AL FORNO (z pieca)</td>
        <td>pieczarki, szynka, sos pomidorowy, sos biały, czosnek, ser mozzarella, zioła</td>
        <td>25 zł</td>
      </tr>
      <tr>
        <td>37.</td>
        <td>RIGATONI BROCCOLI AL FORNO (z pieca)</td>
        <td>pomidor, brokuły, sos pomidorowy, czosnek, ser mozzarella, zioła</td>
        <td>23 zł</td>
      </tr>
      <tr>
        <td>38.</td>
        <td>RIGATONI POLLO AL FORNO (z pieca)</td>
        <td>kawałki piersi z kurczaka, pieczarki, sos biały, czosnek, ser mozzarella, zioła</td>
        <td>29 zł</td>
      </tr>
    </table>
    <table id="risotto">
      <tr>
        <td>40.</td>
        <td>RISOTTO VEGETARIANA</td>
        <td>pieczarki, cebula, papryka, brokuły, czosnek, sos pomidorowy, sałata lodowa, zioła</td>
        <td>23 zł</td>
      </tr>
      <tr>
        <td>41.</td>
        <td>RISOTTO EXPANSJA</td>
        <td>sos boloński (pomidorowo-mięsny), polędwica drobiowa, sałata lodowa, czosnek, zioła </td>
        <td>25 zł</td>
      </tr>
      <tr>
        <td>42.</td>
        <td>RISOTTO MARINARA</td>
        <td>krewetki, sałata lodowa, czosnek, zioła </td>
        <td>30 zł</td>
      </tr>
      <tr>
        <td>43.</td>
        <td>RISOTTO POLLO</td>
        <td>kawałki piersi z kurczaka, cebula, pieczarki, papryka, sałata lodowa, czosnek, zioła</td>
        <td>29 zł</td>
      </tr>
      <tr>
        <td>49.</td>
        <td>MATASSA</td>
        <td>(Z RYŻEM LUB ZIEMNIAKAMI ZAPIEKANYMI) smażona świeża kapusta, kiełbaska, boczek, cebula,
          przyprawy</td>
        <td>27 zł</td>
      </tr>
    </table>
    <table id="salatki">
      <tr>
        <td>25.</td>
        <td>PICOLA MISTA</td>
        <td>sałatka mała <br>sałata lodowa, ogórek, pomidor, cebula, sos winegret, czosnek, sos bianes</td>
        <td>16 zł</td>
      </tr>
      <tr>
        <td>26.</td>
        <td>GRECKA</td>
        <td>sałatka duża <br>sałata lodowa, ogórek, pomidor, cebula, feta, czosnek, sos winegret, oliwki
          zielone</td>
        <td>23 zł</td>
      </tr>
      <tr>
        <td>27.</td>
        <td>ROMA</td>
        <td>sałatka mała / duża<br>sałata lodowa, cebula, ser mozzarella, ogórek, pomidor, jajko, oliwki
          zielone, sos winegret, czosnek, sos bianes </td>
        <td>17 / 22 zł</td>
      </tr>
      <tr>
        <td>28.</td>
        <td>TONNO</td>
        <td>sałatka mała / duża <br>sałata lodowa, cebula, ogórek, pomidor, tuńczyk, oliwki zielone, sos
          winegret, czosnek, sos bianes</td>
        <td>17 / 22 zł</td>
      </tr>
      <tr>
        <td>29.</td>
        <td>VENEZIA</td>
        <td>sałatka mała / duża<br>sałata lodowa, cebula, ogórek, pomidor, ser mozzarella, szynka, jajko,
          oliwki zielone, czosnek, sos winegret, sos bianes</td>
        <td>17 / 22 zł</td>
      </tr>
      <tr>
        <td>30.</td>
        <td>EXpansja</td>
        <td>sałatka duża<br>sałata lodowa, ogórek, pomidor, cebula, ser mozzarella, kukurydza, brokuły,
          czosnek, sos winegret, sos bianes</td>
        <td>23 zł</td>
      </tr>
      <tr>
        <td>85.</td>
        <td>FAVOLLA</td>
        <td>sałatka duża<br>kawałki piersi z kurczaka, sałata lodowa, pomidor, cebula, ser mozzarella,
          czosnek, sos winegret, zioła</td>
        <td>26 zł</td>
      </tr>
      <tr>
        <td>86.</td>
        <td>CETRIOLO</td>
        <td>sałatka duża<br>krojony ogórek kiszony, cebula, czosnek, oliwa, przyprawy</td>
        <td>17 zł</td>
      </tr>
      <tr>
        <td>87.</td>
        <td>PRESTO</td>
        <td>sałatka mała / duża<br>kukurydza, szynka, ser mozzarella, ananas, bianes</td>
        <td>17 / 22 zł</td>
      </tr>
      <tr>
        <td>88.</td>
        <td>DI MARE</td>
        <td>sałatka duża<br>sałata lodowa, ogórek, jajko, ser mozzarella, smażone krewetki</td>
        <td>26 zł</td>
      </tr>
    </table>
    <table id="napoje">
      <tr>
        <td><img src="static/images/galeria/napoje/dilmah.jpg">
          <div>
            <p>DILMAH EXCEPTIONAL <span>SEGAFREDO</span></p>
          </div>
        </td>
      </tr>
      <tr>
        <td><img src="static/images/galeria/napoje/carlsberg.jpg">
          <div>
            <p><span>PRAGNIENIE</span> od 160 lat <span>GASI</span></p>
          </div>
        </td>

      </tr>
      <tr>
        <td>
          <img src="static/images/galeria/napoje/wino.jpg">
          <div>
            <p>W winach odnajdujemy <span>SMAK</span> Włoch, Hiszpani, Ameryki, Mołdawii, Grecji... </p>
          </div>
        </td>
      </tr>
    </table>
    <table id="desery">
      <tr>
        <td>
          <img src="static/images/galeria/napoje/deser.jpg">
          <div>
            <p><span>ZAPRASZAMY</span> NA: <br> LODOWE MISY,<br> OWOCOWE KOKTAJLE, <br> SERNIK I
              SZRLOTKĘ</p>
          </div>
        </td>
      </tr>
    </table>
    <a href="tel:{{{removeWhitespaces base.phone}}}" class="tel">
      <div id="tel"></div>Zamów {{base.phone}}
    </a>
  </div>
</div>
